.button{
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 250px;
    height: 70px;
    font-size:30px;
    color: #80006b;
    border: 5px solid #80004d;
    letter-spacing: 5px;
    border-radius: 100px;
    transition: 1s;
    font-family: 'Droid serif', serif;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

.button:hover{
    box-shadow: 0 5px 50px 0 #600080 inset, 0 5px 50px 0 #c42fff, 0 5px 50px 0 #7c0080 inset, 0 5px 50px 0 #80005c;
    text-shadow: 0 5px 50px 0 #f12fff,0 5px 50px 0 rgba(124, 0, 128, 0.75);
}
