/* Table Styles */
/*sign in table */
.table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    float: left;
    margin: 80px auto 0px 30%;
}

/*for the add teams table */
.selectTeamsTable{
    font-size: 20px;
    text-align:center;
    float: left;
    margin: -35px auto 0px 10%;
    height:50px;
    font-weight: bold;
}

/*table page2 and page3*/
.fl-table{
    border-radius: 5px;
    font-size: 25px;
    font-weight: bolder;
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #D8BFD8;
    margin: 50px auto;

}

.fl-table tr:hover {
    background-color: #d966ff;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    border: 3px solid white;
}

.fl-table thead th {
    color: rgba(197, 132, 229, 0.8);
    background: #c42fff;
}

.fl-table thead th:nth-child(odd) {
    color: #f12fff;
}

.fl-table tr:nth-child(even) {
    background: #e7c6d9;
}
