#nav-bar{
    text-decoration:none;
    font-family: 'Droid serif', serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    line-height: 50px;
    position: center;
    margin: 0 0 40px;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
    color: white;
    width:fit-content;
    max-width: max-content;
    /*position: fixed ;
     top: 0 ;*/
}

#font-nav{
    color: white;
    text-align: center;

}



